@{
    // Establece el título de la página
    ViewData["Title"] = "Acceso denegado";
}

<div class="container bg-light p-4">
    <h2>Acceso denegado</h2> <!-- Título principal -->
    <p>No tienes permisos para acceder a esta página.</p> <!-- Mensaje de acceso denegado -->
    <p>
        <!-- Enlace para iniciar sesión -->
        <a class="btm btm-outline-primary" asp-action="Login">Iniciar sesión</a>
    </p>
</div>
